﻿@model Foregate.Redrow.Models.BasketViewData
@{
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}
@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;
@using PagedList;
<script type="text/javascript">
    $(document).ready(function () {
        $('.imgover').hover(function (event) {
            var toolTip = $(this).attr('Tooltip');
            var border_top = $(window).scrollTop();
            var border_right = $(window).width();
            var left_pos; var top_pos;
            if (border_right - (420) >= 400 + event.pageX) {
                left_pos = event.pageX + 15;
            }
            else {
                left_pos = (event.pageX - 420) - 15;
            }
            if (border_top + (15 * 2) >= event.pageY - 157) {
                top_pos = border_top + 15;
            }
            else {
                top_pos = (event.pageY - 157) - 15;
            }
            $('<img class="tooltips"></img>').attr("src", this.href)
                .appendTo('body')
                .css('top', (top_pos) + 'px')
                .css('left', (left_pos) + 'px')
                .fadeIn(1000);
        }, function () {
            $('.tooltips').remove();
        })
    });
    $(function () {
        $("a.imgover").tooltip({
            track: true,
            delay: 200,
            showURL: false,
            bodyHandler: function () {
                alert('here');
                return $("<img/>").attr("src", this.href);
            }
        });
    });
    jQuery(function () {
        jQuery(document).tooltip({
            tooltipClass: "tooltip",
            track: true,
            delay: 10,
            showURL: false,
            position: {
                my: "middle bottom",
                at: "middle top"
            }
        });
    });
    jQuery(document).ready(function () {
        // MouseOver
        jQuery("a.imageinfo").mouseenter(function () {
            var effect = "#e" + jQuery(this).attr("id");
            var tosser = "#t" + jQuery(this).attr("id");
            jQuery(effect).show();
            jQuery(tosser).hide();
        }).mouseleave(function () {
            var tosser = "#t" + jQuery(this).attr("id");
            var effect = "#e" + jQuery(this).attr("id");
            jQuery(tosser).show();
            jQuery(effect).hide();
        })
    });
</script>
@using (Html.BeginForm())
{
    <div class="pagination">
        @if (Model.Images.PageCount > 1)
        {
            if (Model.Images.PageNumber == 1)
            {
            @Html.ActionLink("First", "List", "Images", new { id = @ViewBag.CatalogId, page = 1 }, new { @class = "prev_grey" }) 
            @Html.ActionLink("Prev", "List", "Images", new { id = @ViewBag.CatalogId, page = 1 }, new { @class = "prev_grey" }) 
            }
            else
            { 
            @Html.ActionLink("First", "List", "Images", new { id = @ViewBag.CatalogId, page = 1 }, new { @class = "prev_red" }) 
            @Html.ActionLink("Prev", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageNumber - 1 }, new { @class = "prev_red" }) 
            }
            {
                int End = 0;
                int Start = 0;
                switch (Model.Images.PageCount - Model.Images.PageNumber)
                {
                    case 1:
                    case 2:
                    case 3:
                        End = Model.Images.PageCount + 1;
                        break;
                    default:
                        End = Model.Images.PageNumber + 3;
                        break;
                }
                switch (Model.Images.PageCount - Model.Images.PageNumber)
                {
                    case 1:
                    case 2:
                    case 3:
                        Start = Model.Images.PageNumber - 3;
                        break;
                    default:
                        Start = Model.Images.PageNumber;
                        break;
                }
                if (End > Model.Images.PageCount)
                {
                    End = Model.Images.PageCount;
                    Start = Model.Images.PageCount - 3;
                }
                for (int i = Start; i < End; i++)
                {
                    if (i == Model.Images.PageNumber)
                    { 
            @Html.ActionLink(i.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = i }, new { @class = "page_red" }) 
                    }
                    else
                    {
            @Html.ActionLink(i.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = i }, new { @class = "page_grey" }) 
                    }
                }
                if (Model.Images.PageCount - Model.Images.PageNumber > 3)
                {
            <span style="float: left; margin-left: 5px; font-weight: bold">...</span>
            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "page_grey" })
            @Html.ActionLink("Next", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageNumber + 1 }, new { @class = "next_red" })
            @Html.ActionLink("Last", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "prev_red" }) 
                }
                else
                {
                    if (Model.Images.PageCount == Model.Images.PageNumber)
                    {  
            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "page_red" })
            @Html.ActionLink("Next", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageNumber < Model.Images.PageCount ? Model.Images.PageNumber + 1 : Model.Images.PageCount }, new { @class = "next_grey" })
            @Html.ActionLink("Last", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "prev_grey" }) 
                    }
                    else
                    { 
            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "page_grey" })
            @Html.ActionLink("Next", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageNumber < Model.Images.PageCount ? Model.Images.PageNumber + 1 : Model.Images.PageCount }, new { @class = "next_red" })
            @Html.ActionLink("Last", "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageCount }, new { @class = "prev_red" }) 
                    }
                }
            }
        }
        else
        {
            @Html.ActionLink(Model.Images.PageNumber.ToString(), "List", "Images", new { id = @ViewBag.CatalogId, page = Model.Images.PageNumber }, new { @class = "page_red" })
        }
    </div>

    <h2 style="padding-left: 20px;">Lightbox</h2>
    if (Model.Images.Count > 0)
    {
        <div style=" height: 35px; vertical-align: middle; margin-bottom: 20px;">
            <div style="display:inline-block">
                <h4>
                    <span class="label">
                        @Html.Label("Download Size")
                    </span>
                    @Html.DropDownList("Size", new SelectList(new[] {  new SelectListItem{ Text = "Large", Value = "Original"},
                                                 new SelectListItem{ Text = "Medium", Value = "Medium"},
                                                 new SelectListItem{ Text = "Small", Value = "Small"},
                                           }, "Value", "Text", "Medium"))

                </h4>
            </div>
            <div style="display:inline-block">
                <input type="submit" value="Download All" class="inputButton" />


            </div>

            <div style="float:right">
                @Html.ActionLink("Clear Lightbox", "RemoveAll", "Basket", new { returnUrl = (Request.RawUrl) }, new { @class = "inputButton" })
            </div>
        </div>
        <div style="clear: both"></div>
    }
    <ul class="list">
        @foreach (Image image in Model.Images)
        {   
            <li>
                <div  class="preview" id="t@(image.ImageId)">
                    <div class="out overout">
                        @*<a href="http://site.redrowimages.co.uk/ImageDB/preview/@(image.ImageId).png"*@
                                   <a href="@(Model.Path)Preview/@(image.ImageDetail.ImageDetailId).png"
                        class="imgover" onclick="window.location ='/Image/ImageDetail/@(image.ImageId)';return false;" style="vertical-align:bottom; border: solid 0px white" >
                            @*<img src="http://site.redrowimages.co.uk/ImageDB/Convert/@(image.ImageId).png"*@
                               <img src="@(Model.Path)Convert/@(image.ImageDetail.ImageDetailId).png"
                                    alt="@image.ImageDetail.Name" style="vertical-align:bottom; border:solid 0px white" />
                        </a>
                        @if (image.AdvertisingApproved)
                        {
                            <img src="@ContentHelper.ImagesRoot/tick.png" alt="Advertising Approved" style="margin-top:-40px;" />
                        }
                    </div>
                </div>
                <div class="effect" id="e@(image.ImageId)" style="background-image: url('@(Model.Path)Convert/@(image.ImageDetail.ImageDetailId).png'); ">
                    <div class="layer">
                        @Html.TextAreaFor(model => image.ImageDetail.Description, 10, 30, null)
                    </div>
                </div>
                <div class="imagefooter">
                    <div class="imageno">@image.ImageDetail.Name.Trim()</div>
                    <div class="imagesizes">
                        <a href="/Image/Small/@(image.ImageId)" title="72dpi for internet" >Small |</a>
                        <a href="/Image/Medium/@(image.ImageId)" title="150dpi for powerpoint" >Medium |</a>
                        <a href="/Image/Download/@(image.ImageId)" title="300dpi for print" >Large</a>
                    </div>
                    <div style="float: left; font-size: small; width: 50px; margin-top: 10px; margin-left: 20px;">
                        <a href="/Image/ImageDetail/@(image.ImageId)" class="imageinfo" id="@(image.ImageId)" >
                            <span style="float: right; font-size: small; width: 0px;">Info</span></a>
                    </div>
                    <div style="float: right">
                        <a href="/Basket/Remove/@(image.ImageId)?returnUrl=@(Request.RawUrl)" class="imageBasketRemove" >
                            <span style="font-size: small; margin-left: 20px;">Remove</span>
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
}
