﻿@model Foregate.Redrow.Models.CatalogListViewData
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models
<h2>Catalogs</h2>
@using (Html.BeginForm())
{
    if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
    {
    <span class="error">@ViewData.ModelMetadata.Description</span>
    }
    <table>
        <tr>
            <th>Catalogue
            </th>
            <th>Process
            </th>
        </tr>
        @foreach (Catalog catalog in Model.Catalogs)
        {
            <tr>
                <td>
                    @catalog.Name
                </td>
                <td>
                    @Html.ActionLink("View", "Catalog", "Category", new { id = catalog.CatalogId }, null)
                    @Html.ActionLink("Delete", "DeleteCat", "Category", new { id = catalog.CatalogId }, null)
                </td>
            </tr>
        }
    </table>
    <h2>Catalog Details</h2>
    @Html.HiddenFor(model => model.Catalog.CatalogId)
        using (Html.BeginForm("Catalog", "Catalog"))
        {
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Catalog.Name)
        </span>
        @Html.TextBoxFor(model => model.Catalog.Name)
        <span class="error">
            @Html.ValidationMessageFor(model => model.Catalog.Name)
        </span>
    </h4>
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Catalog.Directory)
        </span>
        @Html.TextBoxFor(model => model.Catalog.Directory, new { @readonly = true })
    </h4>
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Catalog.AllUsers)
        </span>
        @Html.CheckBoxFor(model => model.Catalog.AllUsers)
    </h4>       
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Catalog.Sequence)
        </span>
        @Html.TextBoxFor(model => model.Catalog.Sequence)
        <span class="error">
            @Html.ValidationMessageFor(model => model.Catalog.Sequence)
        </span>
    </h4>
    <div style="float: right">
        @if (Model.Catalog.CatalogId == 0)
        {
           <input type="submit" value="Create" class="inputButton" />
        }
        else
        {
           <input type="submit" value="Update" class="inputButton" />
        }
    </div>
        }
}
