﻿@model Foregate.Redrow.Models.CategoryViewData
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow.Models;
@using Foregate.Redrow.Helpers;
<script type="text/javascript">
    function DeleteConfirm(images) {
        if (confirm("Are you sure want to delete this category? \n\n You are about to delete " + images + " images!"))
            return true;
        else
            return false;
    }
</script>

<div class="col-6">
    <h2>Categories</h2>
    <table>
        <tr>
            <th>
                Catalogue
            </th>
            <th>
                Category
            </th>
            <th>
                Process
            </th>
        </tr>
        @foreach (Category category in Model.Categories)
        {
            <tr>
                <td>
                    @category.Catalog.Name
                </td>
                <td>
                    @category.Name
                </td>
                <td>
                    @Html.ActionLink("View", "Category", "Category", new { id = category.CategoryId }, null)
                    @Html.ActionLink("Delete", "Delete", "Category", new { id = category.CategoryId }, null) @*new { onclick = "return DeleteConfirm(" + category.Images.Count() + ")"})*@
                    @Html.ActionLink("Manage", "Manage", "User", new { id = category.CategoryId }, null)
                </td>
            </tr>
        }
    </table>
    </div>
<div class="col-6">
    <h2>Category Details</h2>
    @using (Html.BeginForm("Category", "Category"))
    {
        @Html.HiddenFor(model => model.Category.CategoryId)
        <h4>
            <span class="label">
                @Html.Label("Add a category to")
            </span>
            @Html.DropDownListFor(model => model.Category.CatalogId, new SelectList(Model.Catalogs, "CatalogId", "Name", 2))
        </h4>
        <h4>
            <span class="label">
                @Html.Label("Category Name:")
            </span>
            @Html.TextBoxFor(model => model.Category.Name, new { @class = "textmw" })
            <span class="error">
                @Html.ValidationMessageFor(model => model.Category.Name)
            </span>
        </h4>
        <h4>
            <span class="label">
                @Html.LabelFor(model => model.Category.PropertyPortal)
            </span>
            @Html.CheckBoxFor(model => model.Category.PropertyPortal)
        </h4>
        <h4>
            <span class="label">
                @Html.LabelFor(model => model.Category.AdvertisingApproved)
            </span>
            @Html.CheckBoxFor(model => model.Category.AdvertisingApproved)
        </h4>
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Category.SocialMedia)
        </span>
        @Html.CheckBoxFor(model => model.Category.SocialMedia)
    </h4>
        <div style="float: right">
            @if (Model.Category.CategoryId == 0)
            {
                <input type="submit" value="Create" class="inputButton" />
            }
            else
            {
                <input type="submit" value="Update" class="inputButton" />
            }
        </div>
    }
</div>
