﻿@model Foregate.Redrow.Models.SubCategoryViewData

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow.Models;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow;
<fieldset>
    <legend>Sub Categories</legend>
    <div style="float: right">
        @Html.ActionButton3("<< Go Back", Url.Action("Admin", "User"), "backButton")
    </div>
    <div class="col-6">
        <table>
            <tr>
                <th>
                    Category
                </th>
                <th>
                    SubCategory
                </th>
                <th>
                    Process
                </th>
            </tr>
            @foreach (SubCategory subCategory in Model.SubCategories)
            {
                <tr>
                    <td>
                        @subCategory.Category.Name
                    </td>
                    <td>
                        @subCategory.Name
                    </td>
                    <td>
                        @Html.ActionLink("View", "SubCategory", "Category", new { id = subCategory.SubCategoryId }, null)
                        @Html.ActionLink("Delete", "SubCatagoryDelete", "Category", new { id = subCategory.SubCategoryId }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-6">
        <legend>Sub Category Details</legend>
        @using (Html.BeginForm("SubCategory", "Category"))
        {
            @Html.HiddenFor(model => model.SubCategory.SubCategoryId)
            <h4>
                <span class="label">
                    @Html.Label("Add a category to")
                </span>
                @Html.DropDownListFor(model => model.SubCategory.CategoryId, new SelectList(ViewBag.Category, "CategoryId", "Name", 2))
            </h4>
            <h4>
                <span class="label">
                    @Html.LabelFor(model=>model.SubCategory.Name)
                </span>
                @Html.TextBoxFor(model => model.SubCategory.Name)
                <span class="error">
                    @Html.ValidationMessageFor(model => model.SubCategory.Name)
                </span>
            </h4>
            <div style="float: right">
                @if (Model.SubCategory.SubCategoryId == 0)
                {
                    @Html.SubmitLongButton3("Create")
                }
                else
                {
                    @Html.SubmitLongButton3("Update")
                }
            </div>
        }
    </div>
</fieldset>


