﻿@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Redrow Images Database</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        $(function () {
            $('#imagesperpage').change(function () {
                var selectedValue = $(this).val();
                $.ajax({
                    url: $(this).data('url'),
                    type: 'GET',
                    cache: false,
                    data: { value: selectedValue },
                    success: function () {
                        window.location.reload(true);
                    }
                });
            });
        });
    </script>
</head>

<body class="main_internal">
    <div class="page_internal">
        <div class="header">
            <img src="@ContentHelper.ImagesRoot/redrow_images_logo.png"  alt="Redrow logo" width="207" height="52"  style="margin-top:13px;"/>

            <div class="loggedindisplay">
                @if (Request.IsAuthenticated)
                {
                    <div class="loggedinname">
                        <b style="color: #b21331;">@Html.Label("Welcome ")@Membership.GetUser().UserName</b>  @Html.Label("| ")
                        @Html.ActionLink("Sign Out", "Logout", "Home")
                    </div>
                }
            </div>
        </div>

        <div class="menucontainerleft">
        </div>
        <div class="menucontainerright">
        </div>
        <div class="menucontainer">
            <ul class="menu">
                @if (Request.IsAuthenticated && @ViewBag.Catalogs != null)
                {
                    foreach (Catalog catalog in @ViewBag.Catalogs)
                    {
                        if (@ViewBag.CatalogId == catalog.CatalogId)
                        {
                    <li><a href="@Url.Action("Catalogue", "Images", new { id = @catalog.CatalogId })" class="menuitem">
                        @catalog.Name
                    </a></li>
                        }
                        else
                        {
                    <li><a href="@Url.Action("Catalogue", "Images", new { id = @catalog.CatalogId })" >
                        @catalog.Name
                    </a></li>
                        }
                    }
                    if (User.IsInRole("Administrator"))
                    {
                    <li>
                        <a href="@Url.Action("Admin", "User")" >Admin </a>
                    </li>
                    }
                }
                else
                {
                    if (User.IsInRole("Administrator"))
                    {
                    <li>
                        <a href="@Url.Action("Admin", "User")" >Admin </a>
                    </li>
                    }
                }
                <li style="float:right">
                    <a href="/Basket/Index" class="lighBox">
                        View your lightbox
                    </a>
                </li>
            </ul>
            @*<a href="/Basket/Index" class="lighBox">View your lightbox
            </a>*@
        </div>
        <div class="body">
            <div class="breadcrumb_internal">
                <div style="float: left; padding-top: 0px;">
                    <span class="breadcrumb_internal_ur">You are here:</span>
                    <img src="@ContentHelper.ImagesRoot/arrow.jpg" alt="Arrow" style="padding-right:20px; margin:0; vertical-align:middle; padding-bottom:5px;" />
                    <span style="color: #666666;">@ViewBag.Title</span>
                </div>
                <div class="itv">
                    <p>Images per page</p>
                    @Html.DropDownList("Imageses", new SelectList(new[] {  new SelectListItem{ Text = "16", Value = "16"},   
                                                 new SelectListItem{ Text = "32", Value = "32"}, 
                                                 new SelectListItem{ Text = "64", Value = "64"},   
                                           }, "Value", "Text", @ViewBag.ImagesPerPage == null ? 16 : @ViewBag.ImagesPerPage.ToString()), new
                                           {
                                               id = "imagesperpage",
                                               data_url = Url.Action("ImagesToView", "User")
                                           })

                </div>
            </div>
            <div class="content_internal">
                <div class="container" >
                    @RenderBody()
                </div>
                <div style="float: left; width: 100%; margin-top: 15px; margin-right: 0px;">
                    <div class="footer_internal_left">
                    </div>
                    <div class="footer_internal_right">
                    </div>
                    <div class="footer_internal">
                        <div style="float: left">
                            <img src="@ContentHelper.ImagesRoot/footer-menulogo.png" alt="Redrow logo" />
                            <div class="footerText_internal"><a href="http://www.redrowimages.co.uk/userguide" target="_blank">User Guide</a>Visit the<a href="http://www.redrow.co.uk" target="_blank"> Redrow Website</a> Website Designed & Managed by <a href="http://www.stauntonrook.co.uk" target="_blank">Staunton Rook Marketing Services</a></div>
                        </div>
                        <div class="social">
                            <span class="socialp">Connect and share with:</span>
                            <a href="https://www.facebook.com/RedrowHomes" target="_blank" class="sociala">
                                <img  src="@ContentHelper.ImagesRoot/facebook.png" alt="Redrow facebook" border="0" /></a>
                            <a href="http://www.youtube.com/user/redrowhomes" target="_blank" class="sociala">
                                <img  src="@ContentHelper.ImagesRoot/youtube.png" alt="Redrow youtube"  border="0" /></a>
                            <a href="https://twitter.com/RedrowHomes" target="_blank" class="sociala">
                                <img  src="@ContentHelper.ImagesRoot/twitter.png"  alt="Redrow twitter" border="0" /></a>
                        </div>
                        <div style="clear: both;">
                            <p>Copyright  &copy; @DateTime.Now.Year Redrow. All rights reserved. </p>
                            <br />
                            <br />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>
</html>
