﻿@using Foregate.Redrow.Models
@using Foregate.Redrow
@using Foregate.Redrow.Helpers
    <div class="SideMenu">
        <ul>
            <li>@Html.ActionLink("Accounts", "Accounts", "User")</li>
            <li>@Html.ActionLink("Create New User", "Account", "User")</li>
            <li>@Html.ActionLink("Import files", "Import", "Image")</li>
            @*<li>@Html.ActionLink("Convert files", "Convert", "Image")</li>*@
            <li>@Html.ActionLink("Catalogs", "Catalog", "Category")</li>
            <li>@Html.ActionLink("Categories", "Category", "Category")</li>
            <li>@Html.ActionLink("Sub Categories", "SubCategory", "Category")</li>
            @*<li>@Html.ActionLink("Delete Images", "Delete", "Images")</li>*@
            <li>@Html.ActionLink("Move Images", "Move", "Images")</li>
            <li>@Html.ActionLink("Integrity checker", "Integrity", "Image")</li>
        </ul>
    </div>


