﻿@model Foregate.Redrow.Models.ImagesViewData
@using Foregate.Redrow.Models
@using Foregate.Redrow
@using Foregate.Redrow.Helpers
<script type="text/javascript">
    $(document).ready(
        function () {
            $('input:text').each(
                function () {
                    if ($(this).val().length == 0) {
                        $(this)
                            .val($(this).attr('placeholder'))
                            .css('color', '#999');
                    }
                    $(this).click(
                        function () {
                            $(this)
                                .val('')
                                .css('color', '#000');
                        });
                    $(this).blur(
                        function () {
                            if ($(this).val() === '') {
                                $(this)
                                    .val($(this).attr('placeholder'))
                                    .css('color', '#999');
                            }
                        });
                });
            $("#SearchText").focus(function () {
                var urlemp = '@Url.Action("SearchReset", "Images")';
                $.ajax({
                    type: 'GET',
                    url: urlemp,
                    cache: false,
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    },
                    complete: function (returndata) {
                        //alert('Complete')
                    }
                });
            })
        });
</script>
<div class="SideMenu">
    @Html.HiddenFor(model => model.Catalog.CatalogId)
    @Html.HiddenFor(model =>model.Category.CategoryId)
    @Html.Hidden("CategoryId", (object)Model.Category.CategoryId.ToString())
    @Html.Hidden("SubCategoryId", (object)Model.SubCategory.SubCategoryId.ToString())
    <div class="search">
        @Html.TextBox("SearchText", Model.SearchText, new { placeholder = "Search" })
        @Html.SubmitButton3("")
    </div>
    <label class="checkbox">Match exact search term @Html.CheckBox("SearchMatchWord", Model.SearchMatchWord) </label>
    @if (Model.Catalog.CatalogId != 11)
    {
    <div class="approved"><img src="/Content/Images/tick.png" style=" vertical-align:middle;" /> Advertising Approved</div>
    }
    else
    {
        <div class="find"></div>
    }

    <ul>
        @foreach (Category category in ViewBag.Approved)
        {
            { Session["Expanded"] = string.Empty; }
            if (Model.Category.CategoryId == category.CategoryId)
            {
                if (Model.SubCategory.SubCategoryId == 0)
                {
                    <li>
                        @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuSelectedArrowRed" })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuNotSelectedRed" })
                    </li>
                }
                foreach (SubCategory subCategory in ViewBag.SubCategories)
                {
                    { Session["Expanded"] = "true"; }
                    if (Model.SubCategory.SubCategoryId == subCategory.SubCategoryId)
                    {
                        <li>
                            @Html.ActionLink(subCategory.Name, "List", "Images", new { categoryId = @subCategory.Category.CategoryId, catalogId = @subCategory.Category.CatalogId, subCategoryId = @subCategory.SubCategoryId }, new { @class = "sideMenuSelectedArrow" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(subCategory.Name, "List", "Images", new { categoryId = @subCategory.Category.CategoryId, catalogId = @subCategory.Category.CatalogId, subCategoryId = @subCategory.SubCategoryId }, new { @class = "sideMenuNotSelected" })
                        </li>
                    }
                }
            }
            else
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuNotSelectedRed" })
                </li>
            }
        }
    </ul>
    @if (Model.Catalog.CatalogId != 11)
    {
    <div class="find">Other Photography</div>
    }
    <ul>
        @foreach (Category category in ViewBag.Categories)
        {

           
            
            if (Model.Category.CategoryId == category.CategoryId)
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuSelectedArrow" })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuNotSelected" })
                </li>
            }
        }
    </ul>
@if (Model.Catalog.CatalogId == 1)
{
    <div class="property">Property portals</div>
}
    <ul>
        @foreach (Category category in ViewBag.Portals)
        {
            if (Model.Category.CategoryId == category.CategoryId)
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuSelectedArrow" })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuNotSelected" })
                </li>
            }
        }
    </ul>
@if (Model.Catalog.CatalogId != 11)
{
    <div class="property">Social Media</div>
}
    <ul>
        @foreach (Category category in ViewBag.Social)
        {
            if (Model.Category.CategoryId == category.CategoryId)
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuSelectedArrow" })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(category.Name, "List", "Images", new { categoryId = @category.CategoryId, catalogId = @category.CatalogId }, new { @class = "sideMenuNotSelected" })
                </li>
            }
        }
    </ul>
</div>





















