﻿@model Foregate.Redrow.Models.AccountViewData
@{
    ViewBag.Title = "Catalogue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow.Models;
@using Foregate.Redrow.Helpers;

@using (Html.BeginForm())
{
    <h2>Role</h2>
    @Html.HiddenFor(model => model.Account.UserUID) 
    @Html.HiddenFor(model => model.Account.UserName)
    <h4>
        <span class="label">
            @Html.LabelFor(model => model.Account.UserName)
        </span>
        @Html.TextBoxFor(model => model.Account.UserName, new { @readonly = true })
    </h4>
    <h4>
        <span class="label">
            @Html.Label("Change Role")
        </span>
        @Html.DropDownListFor(model => model.Account.RoleId, new SelectList(Model.Roles, "RoleId", "RoleName", Model.Account.RoleId))
    </h4>
    <div style="float: right">
                  <input type="submit" value="Update" class="inputButton" />
    </div>
}
