﻿@{
    ViewBag.Title = "Error";
    Layout = null;
}
<body class="main_internal">
    <div class="page_internal">
        <div class="header">
            <img src="~/Content/redrow_images_logo.png" alt="Redrow logo" style="margin-top:13px;" />
        </div>
        <fieldset>
            <legend>Error</legend>
            <p>
                We're sorry, we've hit an unexpected error. <a href="javascript:history.go(-1)">
                    Click
                    here
                </a> if you'd like to go back and try that again.
            </p>
            @if (ViewBag.Error != null)
            {
                <fieldset>
                    <legend>For developer use ONLY. </legend>
                    <p class="error">
                        @ViewBag.Error
                    </p>
                </fieldset>
            }
        </fieldset>
        </div>
    </body>
