﻿@model Foregate.Redrow.Models.LogOnModel

@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
<script type="text/javascript">
    $(document).ready(function () {
        var isValid = '@Html.Raw(Json.Encode(ViewData.ModelState.IsValid))';
        if (isValid != 'true') {
            var valid = 'Username or Password incorrect';
            var result = $('#UserName');
            result.val(valid);
            result.addClass('error');
        }
    });
</script>

@using (Html.BeginForm())
{ 
    <div class="logindisplay">
        <span class="logindisplaytitle">Redrow Images Login</span>
        <div style="clear: both; height: 5px; width: 244px; border-bottom: solid thin #989898; margin-bottom: 8px;"></div>
        
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "textsw" , onfocus = "javascript: this.value=''; this.style.color = '#000'",@tabindex = "1" })
        <div class="forgotten" tabindex="99">@Html.ActionLink("Forgotten password?", "Forgotten", "Home", new { @tabindex = "3" })</div>
        @Html.LabelFor(model => model.Info)
        @Html.PasswordFor(model => model.Info, new { @class = "textsw",@tabindex = "2"  })
        <input type="submit" value="" class="LogonRollover" />
    </div>
    <div class="welcome">
        <img src="@ContentHelper.ImagesRoot/redrow_welcome.png" alt="Redrow welcome" />
        <div class="welcomediv"></div>
        <div style="float: right; text-align: left; width: 628px; padding-top: 45px; font-size: 17px;">
            Welcome to the Redrow Image Library where you can browse,
        <br />
            search and download digital files all in one place.
        </div>
    </div>
}
