﻿@model Foregate.Redrow.Models.ImagesViewData
@{
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;

<script type="text/javascript">
    $.ajaxSetup({ cache: false });
    $(document).ready(function () {
        var EarningBasis = '@Html.Raw(Json.Encode(Model.Image.CategoryId))';
        switch (EarningBasis) {
            case "1":
                $("#CopyDiv, #CopyDiv input").hide().attr("disabled", "disabled");
                break;
        }
        $("#Category_CategoryId").change(function () {
            if ($(this).val() > 0) {
                $("#Image_SubCategoryId").empty();
                var urlemp = '@Url.Action("JsonSubCategory", "Category")';
                $.ajax({
                    url: urlemp,
                    cache: false,
                    data: { id: $(this).val() },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $.each(data, function (i, result) {
                            $("#Image_SubCategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                        });
                    },
                });
            }
        });
        $('#Image_Category_CatalogId').change(function () {
            $("#Category_CategoryId").empty();
            var urlemp = '@Url.Action("GetCategories", "Image")';
            $.ajax({
                type: 'GET',
                url: urlemp,
                cache: false,
                data: { id: $(this).val() },
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
                    $.each(returndata, function (i, result) {
                        $("#Category_CategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                    });
                },
            });
        });
        $("#CopyImage").change(function () {
            if (document.getElementById('CopyImage').checked) {
                $("#CopyDiv, #CopyDiv input").show().removeAttr("disabled");
                $("#MoveDiv, #MoveDiv input").hide().attr("disabled", "disabled");
            }
            else {
                $("#MoveDiv, #MoveDiv input").show().removeAttr("disabled");
            }
        });
        $("#MoveImage").change(function () {
            if (document.getElementById('MoveImage').checked) {
                $("#CopyDiv, #CopyDiv input").hide().attr("disabled", "disabled");
                $("#MoveDiv, #MoveDiv input").show().removeAttr("disabled");
                $('#copy').attr('checked', '');
            }
            else {
                $("#CopyDiv, #CopyDiv input").show().removeAttr("disabled");
            }
        });
        $("#btnRotate").click(function () {
            var url = "@Url.Action("Rotate", "ImageRotate", new { id = Model.Image.ImageId })";
            if("@Model.Path.Contains("Image")" == "True"){
                url += "?import=true";
            }
            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
                    if ("Success" in returndata){
                        location.reload();
                    }else{
                        alert(returndata["Error"]);
                    }
                },
            });

        });
    });
    $(function () {
        $('.tooltip').tooltip({
            tooltipClass: ".tooltip",
            track: true,
            delay: 10,
            showURL: false,
            position: {
                my: "middle bottom",
                at: "middle top"
            }
        });
    });
    function DeleteConfirm(images) {
        if (confirm("Are you sure want to delete this image?"))
            return true;
        else
            return false;
    }
</script>

<div style="padding-left: 20px;">
    <h2>Image Detail</h2>
    <div class="col-6">
        <h4>
                <img src="@(Model.Path)Preview/@(ViewData.Model.Image.ImageDetailId).png"
                     alt="@(ViewData.Model.Image.ImageDetailId)" id="thumbnail" />
            <a class="inputButton" id="btnRotate">Rotate</a>
        </h4>
        @if (Model.Image.AdvertisingApproved)
        {
            <h4>
                <img src="@ContentHelper.ImagesRoot/tick.png" alt="Advertising Approved" class="displayed" />
            </h4>
        }

        <div class="imageno">@Model.Image.ImageDetail.Name.Trim()</div>
        <div class="imagesizes">
            <a href="/Image/Small/@(Model.Image.ImageId)" title="72dpi for internet" class="tooltip">Small |</a>
            <a href="/Image/Medium/@(Model.Image.ImageId)" title="150dpi for powerpoint" class="tooltip">Medium |</a>
            <a href="/Image/Download/@(Model.Image.ImageId)" title="300dpi for print" class="tooltip">Large</a>
        </div>

        <div style="float: left; font-size: small; width: 50px; margin-top: 10px; margin-left: 20px; clear:both">
            <a href="/Image/ImageDetail/@(Model.Image.ImageId)" class="imageinfo" id="@(Model.Image.ImageId)">
                <span style="float: right; font-size: small; width: 0px;">Info</span>
            </a>
        </div>
        <div style="float: right; margin-top: 5px">
            @if (Model.Image.InBasket())
            {
                <a href="/Basket/Remove/@(Model.Image.ImageId)?returnUrl=@(Request.RawUrl)" class="imageBasket">
                    <span style="font-size: small; margin-left: 20px;">Remove</span>
                </a>
            }
            else
            {
                <a href="/Basket/Add/@(Model.Image.ImageId)?returnUrl=@(Request.RawUrl)" class="imageBasket">
                    <span style="font-size: small; margin-left: 20px">Add to lightbox</span>
                </a>
            }
        </div>
    </div>
    <div class="col-6">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Image.ImageId)
            @Html.HiddenFor(model => model.Page)
            <div id="select">
                <h4>
                    <span class="label">
                        @Html.LabelFor(model => model.Image.Category.CatalogId)
                    </span>
                    @Html.DropDownListFor(model => model.Image.Category.CatalogId, new SelectList(ViewBag.MoveCatalogs, "CatalogId", "Name", Model.Image.Category.CatalogId))
                </h4>
                <h4>
                    <span class="label">
                        @Html.LabelFor(model => model.Image.CategoryId)
                    </span>
                    @Html.DropDownListFor(model => model.Category.CategoryId, new SelectList(ViewBag.MoveCategories, "CategoryId", "Name", Model.Image.CategoryId), "Select category..")
                </h4>
               <h4>
                    <span class="label">
                        @Html.Label("Sub Category")
                    </span>
                    @Html.DropDownListFor(model => model.Image.SubCategoryId, new SelectList(ViewBag.MoveSubCategories, "SubCategoryId", "Name", Model.Image.SubCategoryId), "Select sub category..")
                </h4>
            </div>
            <h4>
                <span class="label">
                    @Html.Label("Name")
                </span>
                @if (User.IsInRole("PowerUser") || User.IsInRole("Administrator"))
                {
                    @Html.TextBoxFor(model => model.Image.ImageDetail.Name)
                }
                else
                {
                    @Model.Image.ImageDetail.Name
                }
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Description")
                </span>
                @if (User.IsInRole("PowerUser") || User.IsInRole("Administrator"))
                {
                    @Html.TextAreaFor(model => model.Image.ImageDetail.Description, 5, 50, null)
                }
                else
                {
                    @Html.TextAreaFor(model => model.Image.ImageDetail.Description, 5, 50, new { @readonly = true })
                }
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Size")
                </span>
                @Model.Image.FormattedSize
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Advertising Approved")
                </span>
                @if (User.IsInRole("PowerUser") || User.IsInRole("Administrator"))
                {
                    @Html.CheckBoxFor(model => model.Image.AdvertisingApproved, new { onclick = "$('#CopyImage').attr('checked','checked')" })
                }
                else
                {
                    @Model.Image.AdvertisingApproved
                }
            </h4>
            if (User.IsInRole("PowerUser") || User.IsInRole("Administrator"))
                {
                <div id="MoveDiv">
                    <h4>
                        <span class="label">
                            @Html.Label("Move Image?")
                        </span>
                        @Html.CheckBoxFor(model => model.MoveImage, new { @class="copy"})
                    </h4>
                    </div>
                    <div id="CopyDiv">
                        <h4>
                            <span class="label">
                                @Html.Label("Copy Image?")
                            </span>
                            @Html.CheckBoxFor(model => model.CopyImage)
                        </h4>
                    </div>
                    }
                    <div style="float: right; margin-right: 20px; margin-bottom: 20px;">
                        <input type="button" value="Go back" onclick="history.go(-1);" class="inputButton" />
                        @if (User.IsInRole("PowerUser") || User.IsInRole("Administrator"))
                {
                            <input type="submit" value="Update" class="inputButton" />
                            @Html.ActionLink("Delete", "Delete", "Image", new { id = Model.Image.ImageId, requestUrl = (Request.UrlReferrer == null) ? "" : Request.UrlReferrer.ToString() }, new {  @class = "DeleteButton" }) //onclick = "return DeleteConfirm()",
                }
                    </div>
                    }
                </div>
</div>
