﻿@model Foregate.Redrow.Models.CatalogListViewData
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
<script type="text/javascript">
    $(document).ready(function () {
        $('#Upload').scrollTop($('#Upload')[0].scrollHeight);
    });

    function updateMonitor(taskId, status) {
        $("#status").html(status);
    }

    $(function () {
        $("#load").click(function (e) {
            var url = '@Url.Action("Import", "Image")';
            var urlp = '@Url.Action("ImportProgress", "Image")';
            e.preventDefault();

            $.post(url, null, function (taskId) {

                // Init monitors
                $("#monitors").append($("<p id='status'/>"));
                updateMonitor(taskId, "Started");

                // Periodically update monitors
                var intervalId = setInterval(function () {
                    $.post(urlp, { id: taskId }, function (progress) {
                        if (progress == "") {
                            updateMonitor(taskId, "<b>Completed : </b>" + progress);
                            clearInterval(intervalId);
                            window.location.reload(true);
                        } else {
                            updateMonitor(taskId, progress);
                        }
                    });
                }, 100);
            });
        });
    });


</script>

@using (Html.BeginForm("Convert", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="monitors"></div>
    <h3>You are about to import the following files</h3>
    if (Model.files.Count() > 0)
    {
    <div>
        <ul>
            @foreach (var name in Model.files)
            { 
                <li>
                    @name
                </li> 
            }
        </ul>
        <div style="float: right; padding-bottom: 20px;">
            <button onclick="JavascriptFunction();" type="submit" id="load" class="inputButton">Upload</button>
        </div>
    </div>
    }
    else
    {
    @Html.Label("No files in the directory")
    }
    <div id="result">@Html.TextAreaFor(model => model.Upload, 14, 80, null)</div>
}

