﻿@{
    ViewBag.Title = "Integrity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;
<h2>Integrity</h2>
@using (Html.BeginForm())
{
    <div id="select">
        <h4>
            <span class="label">
                @Html.Label("Choose category")
            </span>
            @Html.DropDownList("Category", new SelectList(ViewBag.Categories, "CategoryId", "Name"))
        </h4>
        <input type="submit" value="Check" class="inputButton" />
    </div>
}

