﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;

<fieldset>
    <legend>Delete file</legend>
    @if (ViewBag.Count != null)
    {
        <span>The following number of images were deleted : @ViewBag.Count</span> 
    }
    <p>CSV format is one column with Image Number init. Column header must be "ImageId"</p>
    @using (Html.BeginForm("Delete", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h4>
            <span class="label">
                @Html.Label("File of images to delete")
            </span>
            <input type="file" name="AttachmentFile" id="AttachmentCC" />
            <span class="error">(.CSV only files) </span>
        </h4>

        <div style="float: right; padding-bottom: 20px;">
            <input type="submit" value="Delete" class="inputButton" />
        </div>
    }
</fieldset>

