﻿@model Foregate.Redrow.Models.ImagesViewData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;

<script type="text/javascript">
    $(document).ready(function () {
        $("#PostponementDiv").hide().attr("disabled", "disabled");
        $("#AlternateDiv").hide('slow').attr("disabled", "disabled");
        $("#subSelectDiv").hide('slow').attr("disabled", "disabled");
        $("#Category").change(function () {
            if ($(this).val() > 0) {
                $("#SubCategory").empty();
                var urlemp = '@Url.Action("JsonSubCategory", "Category")';
                $.ajax({
                    url: urlemp,
                    cache: false,
                    data: { id: $(this).val() },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#subSelectDiv").show('slow').removeAttr("disabled");
                        $.each(data, function (i, result) {
                            $("#SubCategory").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                        });
                    },
                });
            }
        });
        $('#Catalog').change(function () {
            $("#Category").empty();
            var urlemp = '@Url.Action("GetCategories", "Image")';
            $.ajax({
                type: 'GET',
                url: urlemp,
                cache: false,
                data: { id: $(this).val() },
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
           
                    $.each(returndata, function (i, result) {
                        $("#Category").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                    });
                },
            });
        });
        $("#AlternateCategory").change(function () {
            if ($(this).val() > 0) {
                $("#AlternateSubCategory").empty();
                var urlemp = '@Url.Action("JsonSubCategory", "Category")';
                $.ajax({
                    url: urlemp,
                    cache: false,
                    data: { id: $(this).val() },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $.each(data, function (i, result) {
                            $("#AlternateSubCategory").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                        });
                    },
                });
            }
        });
        $('#AlternateCatalog').change(function () {
            $("#AlternateCategory").empty();
            var urlemp = '@Url.Action("GetCategories", "Image")';
            $.ajax({
                type: 'GET',
                url: urlemp,
                cache: false,
                data: { id: $(this).val() },
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
                    $.each(returndata, function (i, result) {
                        $("#AlternateCategory").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                    });
                },
            });
        });
        $("#Alternate").change(function () {
            if (document.getElementById('Alternate').checked) {
                $("#AlternateDiv").show('slow').removeAttr("disabled");
            }
            else {
                $("#AlternateDiv").hide('slow').attr("disabled", "disabled");
            }
        });
    });
</script>

@if (ViewBag.Category != null)
{ 
    <h2>
        @(Model.Category.Catalog.Name)
        @(Model.Category.Name.ToString())
    </h2>
}
@using (Html.BeginForm("ImportList", "Images"))
{
    <table>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Description</th>
            <th>Group Update</th>
            <th>Individual Update</th>
            <th>Individual Delete</th>
        </tr>

        @foreach (Image image in Model.Images)
        {  
            <tr>
                <td>
                    @image.ImageDetail.Name.Trim()
                </td>
                <td>
                   <img src="@(Model.Path)Convert/@(image.ImageDetailId).png" alt="@image.ImageDetail.Name" style="vertical-align:bottom; border:solid 0px white" />
                </td>
                <td>
                    @image.ImageDetail.Description
                </td>
                <td>
                    @Html.CheckBox("chkSelect_" + image.ImageId)
                </td>
                <td>
                    @Html.ActionButton3("Update", Url.Action("ImageDetail", "Image", new { id = image.ImageId }), "backButton")
                </td>
                <td>
                    @Html.ActionButton3("Delete", Url.Action("ImageDelete", "Image", new { id = image.ImageId, requestUrl="/Images/List?catalogId=3" }), "backButton")
                </td>
            </tr>
        }

    </table>
    <fieldset>
        <legend>Group Update Details</legend>

        <h4>
            <span class="label">
                @Html.Label("Description:")
            </span>
            @Html.TextArea("Description", "", 5, 50, null)
        </h4>
        <div id="select">
            <h4>
                <span class="label">
                    @Html.Label("Catalog")
                </span>
                @Html.DropDownList("Catalog", new SelectList(ViewBag.MoveCatalogs, "CatalogId", "Name", 3))
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Category")
                </span>
                @Html.DropDownList("Category", new SelectList(ViewBag.Categories, "CategoryId", "Name"))
            </h4>
            <div id="subSelectDiv">
                <h4>
                    <span class="label">
                        @Html.Label("Sub Category")
                    </span>
                    @Html.DropDownList("SubCategory", new SelectList(ViewBag.SubCategories, "SubCategoryId", "Name"))
                </h4>
            </div>
        </div>
        <h4>
            <span class="label">
                @Html.Label("Advertising Approved?")
            </span>
            @Html.CheckBox("AdvertisingApproved",false)
        </h4>
        <h4>
            <span class="label">
                @Html.Label("Property portal?")
            </span>
            @Html.CheckBox("PropertyPortal")
        </h4>
        <h4>
            <span class="label">
                @Html.Label("Place in alternate category?", new { @class = "textmw" })
                </span>
                @Html.CheckBox("Alternate",false)
</h4>
        <div id="AlternateDiv">
            <h4>
                <span class="label">
                    @Html.Label("Alternate Catalog")
                </span>
                @Html.DropDownList("AlternateCatalog", new SelectList(ViewBag.MoveCatalogs, "CatalogId", "Name", 3))
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Alternate Category")
                </span>
                @Html.DropDownList("AlternateCategory", new SelectList(ViewBag.Categories, "CategoryId", "Name"))
            </h4>
            <h4>
                <span class="label">
                    @Html.Label("Alternate Sub Category")
                </span>
                @Html.DropDownList("AlternateSubCategory", new SelectList(ViewBag.SubCategories, "SubCategoryId", "Name"))
            </h4>
        </div>
            <h4>
                <span class="label">
                    @Html.Label("")
                </span>
                @Html.SubmitLongButton3("Update Selected Images")
            </h4>
</fieldset>
}

