﻿@model Foregate.Redrow.Models.ImagesViewData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;
@using PagedList;
<script type="text/javascript">
    $(document).ready(function () {
        $('.imgover').hover(function (event) {
            var toolTip = $(this).attr('Tooltip');
            var border_top = $(window).scrollTop();
            var border_right = $(window).width();
            var left_pos; var top_pos;
            if (border_right - (420) >= 400 + event.pageX) {
                left_pos = event.pageX + 15;
            }
            else {
                left_pos = (event.pageX - 420) - 15;
            }
            if (border_top + (15 * 2) >= event.pageY - 157) {
                top_pos = border_top + 15;
            }
            else {
                top_pos = (event.pageY - 157) - 15;
            }
            $('<img class="tooltips"></img>').attr("src", this.href)
                .appendTo('body')
                .css('top', (top_pos) + 'px')
                .css('left', (left_pos) + 'px')
                .fadeIn(1000);
        },
        function () {
            $('.tooltips').remove();
        })
    });
    jQuery(document).ready(function () {
        // MouseOver
        jQuery("a.imageinfo").mouseenter(function () {
            var effect = "#e" + jQuery(this).attr("id");
            var tosser = "#t" + jQuery(this).attr("id");
            jQuery(effect).show();
            jQuery(tosser).hide();
        }).mouseleave(function () {
            var tosser = "#t" + jQuery(this).attr("id");
            var effect = "#e" + jQuery(this).attr("id");
            jQuery(tosser).show();
            jQuery(effect).hide();
        })
    });
    $(function () {
        $('.tooltip-test').tooltip({
            tooltipClass: ".tooltip-test",
            track: true,
            delay: 10,
            showURL: false,
            position: {
                my: "middle bottom",
                at: "middle top"
            }
        });
    });

</script>

@using (Html.BeginForm("List", "Images"))
{  <div class="leftContainer">
        @Html.Partial("~/Views/Shared/SideMenu.cshtml", Model)
    </div>
    <div class="rightContainer">
        <div class="innerRightContainer">
            <div style="width: inherit">
                <div style="float: left">
                    <div style="padding-left: 20px; padding-top: 1px;">
                        <h2>
                            @(ViewBag.Title)
                        </h2>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pager_left">
                    </div>
                    <div class="pager_right">
                    </div>
                    <div class="pager_internal">
                        @if (Model.Images.PageCount > 1)
                {
                    if (Model.Images.PageNumber == 1)
                    {
                        @Html.ActionLink("First", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                            @Html.ActionLink("Prev", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                    }
                    else
                    {
                        @Html.ActionLink("First", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                            @Html.ActionLink("Prev", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber - 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                    }
                    {
                        int End = 0;
                        int Start = 0;
                        switch (Model.Images.PageCount - Model.Images.PageNumber)
                        {
                            case 1:
                            case 2:
                            case 3:
                                End = Model.Images.PageCount + 1;
                                break;
                            default:
                                End = Model.Images.PageNumber + 3;
                                break;
                        }
                        switch (Model.Images.PageCount - Model.Images.PageNumber)
                        {
                            case 1:
                            case 2:
                            case 3:
                                Start = Model.Images.PageNumber - 3;
                                break;
                            default:
                                Start = Model.Images.PageNumber;
                                break;
                        }
                        if (End > Model.Images.PageCount)
                        {
                            End = Model.Images.PageCount;
                            Start = Model.Images.PageCount - 3 > 0 ? Model.Images.PageCount - 3 : 1;
                        }
                        for (int i = Start; i < End; i++)
                        {
                            if (i == Model.Images.PageNumber)
                            {
                                @Html.ActionLink(i.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = i, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
                            }
                            else
                            {
                                @Html.ActionLink(i.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = i, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                            }
                        }
                        if (Model.Images.PageCount - Model.Images.PageNumber > 3)
                        {
                            <span style="float: left; margin-left: 5px; margin-top: 10px; font-weight: bold">...</span>
                            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                        }
                        else
                        {
                            if (Model.Images.PageCount == Model.Images.PageNumber)
                            {
                                @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
                            }
                            else
                            {
                                @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                            }
                        }
                    }
                    if (Model.Images.PageNumber < Model.Images.PageCount)
                    {
                        @Html.ActionLink("Next", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber + 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "next_grey" })
                            @Html.ActionLink("Last", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                    }
                }
                else
                {
                            @Html.ActionLink(Model.Images.PageNumber.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
                }
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
           @if (Model.Images.Count > 0)
            {
            <ul class="list">
                @foreach (Image image in Model.Images)
        {
                    <li>
                        <div class="preview" id="t@(image.ImageId)">
                            <div class="out overout">
                                @*<a href="http://site.redrowimages.co.uk/ImageDB/preview/@(image.ImageId).png"*@
                                <a href="@(Model.Path)Preview/@(image.ImageDetail.ImageDetailId).png"
                                   class="imgover" onclick="window.location ='/Image/ImageDetail/@(image.ImageId)?page=@(Model.Images.PageNumber)';return false;" style="vertical-align:bottom; border:0px solid white">
                                    @*<img src="http://site.redrowimages.co.uk/ImageDB/Convert/@(image.ImageId).png"*@
                                    <img src="@(Model.Path)Convert/@(image.ImageDetail.ImageDetailId).png"
                                         alt="@image.ImageDetail.Name" style="  border:solid 0px white;" />
                                </a>
                            </div>
                            @if (image.AdvertisingApproved)
                    {
                                <img src="@ContentHelper.ImagesRoot/tick.png" alt="Advertising Approved" style="margin-top:-45px; margin-left:20px" />
                    }
                        </div>
                        <div class="effect" id="e@(image.ImageId)" style="background-image: url('http://companyweb/redrow/Convert/@(image.ImageDetail.ImageDetailId).png'); ">
                            <div class="layer">
                                @Html.TextAreaFor(model => image.ImageDetail.Description, 10, 30, null)
                            </div>
                        </div>

                        <div class="imagefooter">

                            <div class="imageno">@image.ImageDetail.Name.Trim()</div>
                            <div class="imagesizes">
                                <a href="/Image/Small/@(image.ImageId)" title="72dpi for internet" class="tooltip-test">Small |</a>
                                <a href="/Image/Medium/@(image.ImageId)" title="150dpi for powerpoint" class="tooltip-test">Medium |</a>
                                <a href="/Image/Download/@(image.ImageId)" title="300dpi for print" class="tooltip-test">Large</a>
                            </div>

                            <div style="font-size: small;  margin-top: 10px; margin-left: 20px;float:left">
                                <a href="/Image/ImageDetail/@(image.ImageId)" class="imageinfo" id="@(image.ImageId)">
                                    <span style="float: right; font-size: small; width: 0px;">Info</span>
                                </a>
                            </div>
                            <div style="float:right; text-align:right;">
                                @if (image.InBasket())
                            {
                                    @Html.ActionButton3("Remove", Url.Action("Remove", "Basket", new { id = image.ImageId, returnURL = "/Images/List/?catalogId=" + Model.Catalog.CatalogId + "&page=" + Model.Images.PageNumber + "&categoryId=" + Model.Category.CategoryId + "&subCategoryId=" + Model.SubCategory.SubCategoryId }), "imageBasketRemove")
                            }
                            else
                            {
                                    @Html.ActionButton3("Add to lightbox", Url.Action("Add", "Basket", new { id = image.ImageId, returnURL = "/Images/List/?catalogId=" + Model.Catalog.CatalogId + "&page=" + Model.Images.PageNumber + "&categoryId=" + Model.Category.CategoryId + "&subCategoryId=" + Model.SubCategory.SubCategoryId }), "imageBasket")
                            }
                            </div>
                        </div>

                    </li>
        }
            </ul>
            }
            else
            {
            <div style="margin-left: 20px;">
               

                    <p>
                        The image searched is not present in this category
                    </p>
                 
                    <a href="@Url.Action("NewSearch", "Images", new { SearchText = ViewBag.SearchText as String })" class="page_grey">Search entire image catalogue</a>
               
               
            </div>
            }

            <div class="pagination">
                <div class="pager_left">
                </div>
                <div class="pager_right">
                </div>
                <div class="pager_internal">
                    @if (Model.Images.PageCount > 1)
            {
                if (Model.Images.PageNumber == 1)
                {
                    @Html.ActionLink("First", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                        @Html.ActionLink("Prev", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                }
                else
                {
                    @Html.ActionLink("First", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                        @Html.ActionLink("Prev", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber - 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                }
                {
                    int End = 0;
                    int Start = 0;
                    switch (Model.Images.PageCount - Model.Images.PageNumber)
                    {
                        case 1:
                        case 2:
                        case 3:
                            End = Model.Images.PageCount + 1;
                            break;
                        default:
                            End = Model.Images.PageNumber + 3;
                            break;
                    }
                    switch (Model.Images.PageCount - Model.Images.PageNumber)
                    {
                        case 1:
                        case 2:
                        case 3:
                            Start = Model.Images.PageNumber - 3;
                            break;
                        default:
                            Start = Model.Images.PageNumber;
                            break;
                    }
                    if (End > Model.Images.PageCount)
                    {
                        End = Model.Images.PageCount;
                        Start = Model.Images.PageCount - 3 > 0 ? Model.Images.PageCount - 3 : 1;
                    }
                    for (int i = Start; i < End; i++)
                    {
                        if (i == Model.Images.PageNumber)
                        {
                            @Html.ActionLink(i.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = i, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
                        }
                        else
                        {
                            @Html.ActionLink(i.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = i, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                        }
                    }
                    if (Model.Images.PageCount - Model.Images.PageNumber > 3)
                    {
                        <span style="float: left; margin-left: 5px; margin-top: 10px; font-weight: bold">...</span>
                        @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                    }
                    else
                    {
                        if (Model.Images.PageCount == Model.Images.PageNumber)
                        {
                            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
                        }
                        else
                        {
                            @Html.ActionLink(Model.Images.PageCount.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_grey" })
                        }
                    }
                }
                if (Model.Images.PageNumber < Model.Images.PageCount)
                {
                    @Html.ActionLink("Next", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber + 1, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "next_grey" })
                        @Html.ActionLink("Last", "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageCount, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "prev_grey" })
                }
            }
            else
            {
                        @Html.ActionLink(Model.Images.PageNumber.ToString(), "List", "Images", new { catalogId = @Model.Catalog.CatalogId, page = Model.Images.PageNumber, categoryId = @Model.Category.CategoryId, subCategoryId = @Model.SubCategory.SubCategoryId }, new { @class = "page_red" })
            }
                </div>
            </div>
            </div>
        </div>
            }


