﻿@model Foregate.Redrow.Models.MoveViewData
@{
    ViewBag.Title = "Move";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Foregate.Redrow;
@using Foregate.Redrow.Helpers;
@using Foregate.Redrow.Models;
@using PagedList;
<script type="text/javascript">
    $(document).ready(function () {
        $("#CategoryFrom, #CategoryFrom input").hide().attr("disabled", "disabled");
        $("#ToDiv, #ToDiv input").hide().attr("disabled", "disabled");
        $("#GetDiv, #GetDiv input").hide().attr("disabled", "disabled");
        $("#CategoryTo, #CategoryTo input").hide().attr("disabled", "disabled");
        $("#SubCategoryTo, #SubCategoryTo input").hide().attr("disabled", "disabled");
        $("#SubCategoryFrom, #SubCategoryFrom input").hide().attr("disabled", "disabled");

        $("#FromCatalogId").change(function () {
            $("#FromCategoryId").empty();
            var urlemp = '@Url.Action("GetCategories", "Image")';
            $.ajax({
                type: 'GET',
                url: urlemp,
                cache: false,
                contentType: "application/json; charset=utf-8",
                data: { id: $("#FromCatalogId").val() },
                success: function (data) {
                    $("#CategoryFrom, #CategoryFrom input").show().removeAttr("disabled");
                    $.each(data, function (id, result) {
                        $("#FromCategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                    });
                }
            });
            return false;
        })
        $("#FromCategoryId").change(function () {
            $("#SubCategoryFrom, #SubCategoryFrom input").show().removeAttr("disabled");
            $("#ToDiv, #ToDiv input").show().removeAttr("disabled");
            if ($(this).val() > 0) {
                $("#FromSubCategoryId").empty();
                var urlemp = '@Url.Action("JsonSubCategory", "Category")';
                $.ajax({
                    url: urlemp,
                    cache: false,
                    data: { id: $(this).val() },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if(data)
                        $.each(data, function (i, result) {
                            $("#FromSubCategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                        });
                    }
                });
            }
        });
        $("#FromSubCategoryId").change(function () {
          
        });
        $("#ToCatalogId").change(function () {
            $("#ToCategoryId").empty();
            var urlemp = '@Url.Action("GetCategories", "Image")';
            $.ajax({
                type: 'GET',
                url: urlemp,
                cache: false,
                contentType: "application/json; charset=utf-8",
                data: { id: $("#ToCatalogId").val() },
                success: function (data) {
                    $("#CategoryTo, #CategoryTo input").show().removeAttr("disabled");
                    $.each(data, function (id, result) {
                        $("#ToCategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                    });
                },
            });
            return false;
        })
        $("#ToCategoryId").change(function () {
            $("#SubCategoryTo, #SubCategoryTo input").show().removeAttr("disabled");
            $("#GetDiv, #GetDiv input").show().removeAttr("disabled");
            if ($(this).val() > 0) {
                $("#ToSubCategoryId").empty();
                var urlemp = '@Url.Action("JsonSubCategory", "Category")';
                $.ajax({
                    url: urlemp,
                    cache: false,
                    data: { id: $(this).val() },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $.each(data, function (i, result) {
                            $("#ToSubCategoryId").append("<option value='" + result.Value + "'>" + result.Text + "</option>");
                        });
                    }
                });
            }
        });

        $("#ToSubCategoryId").change(function () {
            
        });
    });
</script>

<fieldset>
    @if (Model.Images.Count == 0)
    {
        using (Html.BeginForm("GetImages", "Images"))
        {
        <h3>Move files from</h3>

        <h4>
            <span class="label">
                @Html.Label("Catalog from")
            </span>
            @Html.DropDownListFor(model => model.FromCatalogId, new SelectList(ViewBag.Catalogs, "CatalogId", "Name"))
        </h4>
        <div id="CategoryFrom">
            <h4>
                <span class="label">
                    @Html.Label("Category from")
                </span>
                @Html.DropDownListFor(model => model.FromCategoryId, new SelectList(string.Empty, "CategoryId", "Name"))
            </h4>
        </div>
    <div id="SubCategoryFrom">
        <h4>
            <span class="label">
                @Html.Label("Sub Category from")
            </span>
            @Html.DropDownListFor(model => model.FromSubCategoryId, new SelectList(string.Empty, "SubCategoryId", "Name"))
        </h4>
    </div>

        <div id="ToDiv">
            <h3>Move files to</h3>
            <h4>
                <span class="label">
                    @Html.Label("Catalog to")
                </span>
                @Html.DropDownListFor(model => model.ToCatalogId, new SelectList(ViewBag.Catalogs, "CatalogId", "Name"))
            </h4>
            <div id="CategoryTo">
                <h4>
                    <span class="label">
                        @Html.Label("Category to")
                    </span>
                    @Html.DropDownListFor(model => model.ToCategoryId, new SelectList(string.Empty, "CategoryId", "Name"))
                </h4>
            </div>
            <div id="SubCategoryTo">
                <h4>
                    <span class="label">
                        @Html.Label("Sub Category to")
                    </span>
                    @Html.DropDownListFor(model => model.ToSubCategoryId, new SelectList(string.Empty, "SubCategoryId", "Name"))
                </h4>
            </div>
        </div>
        <div id="GetDiv">
            <input type="submit" value="Just Get Images" class="inputButton" />
        </div>
        }
    }
    else
    {
        using (Html.BeginForm("Move", "Images"))
        {
            @Html.HiddenFor(model=>model.ToCategoryId)
            @Html.HiddenFor(model=>model.ToSubCategoryId)
        <h4>
            <span class="label">
                @Html.Label("Moving from")
            </span>
            @Html.DisplayFor(model=>model.From )
        </h4>
        <h4>
            <span class="label">
                @Html.Label("to")
            </span>
             @Html.DisplayFor(model=>model.To )
        </h4>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Catalog</td>
                    <td>Category</td>
                    <td>Process</td>
                </tr>
            </thead>
            @foreach (Image image in Model.Images)
            {
                <tr>
                    <td>@image.ImageId</td>
                    <td>@image.ImageDetail.Name</td>
                    <td>@image.Category.Catalog.Name</td>
                    <td>@image.Category.Name</td>
                    <td>@Html.CheckBox("chkSelect_" + image.ImageId) </td>
                </tr>
            }
        </table>
        <div style="float: right; padding-bottom: 20px;">
            <input type="submit" value="Move" class="inputButton" />
        </div>
        }
    }
</fieldset>
